@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Permanent+Marker&display=swap');
*{
    font-family: monospace !important;
    box-sizing: border-box;
}

body{
  background: violet;
 display: flex;
 align-items: center;
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 
}
.App{
    display: flex;
    align-items: center;
    flex-direction: column;
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
    width:100rem;
    margin-left: 9rem;
    margin-top: 1.8rem;
}

.button-89 {
    
    --b: 3px;   /* border thickness */
    --s: .45em; /* size of the corner */
    --color: #373B44;
    
    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;
  
    border: 0;
  
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-right: 2rem;
  }
  
  .button-89:hover,
  .button-89:focus-visible{
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
  }
  
  .button-89:active {
    background: var(--color);
    color: #fff;
  }

.errorImage{
 background-image: url('../src/images/lost.jpg');
 width: 100vw;
 height: 100vh;
 background-size: cover;  /* Ensures the image covers the entire div */
  background-position: center;  /* Centers the image */
  background-repeat: no-repeat;
  display: flex;
  align-items: end;
  justify-content: center;
}

.error-link{
  font-size: 4rem;
  color: #87A8AD;
  padding-bottom: 4rem;
  text-decoration: none;
  
}

.error-link:visited{
  color: #87A8AD;
}